<app-weekday-select
  (selection)="selectedDay = $event"
></app-weekday-select>

<div class="buttons hv-c">
  <app-button
    color="success"
    text="{{ 'schedules.buttons.create_interval' | translate }}"
    icon="plus.svg"
  ></app-button>

  <app-button
    color="warning"
    text="{{ 'schedules.buttons.disable_day' | translate }}"
    icon="block.svg"
  ></app-button>
</div>

<table class="row-table">
  <tr>
    <th>
      <p>{{ 'schedules.intervals.target' | translate }}</p>
    </th>
    <th
      (click)="timestampSortAsc = !timestampSortAsc"
    >
      <div
        class="hv-c"
      >
        <p>{{ 'schedules.intervals.timestamps' | translate }}</p>
        <img
          class="svg svg--xs"
          [class.svg--flip-x]="timestampSortAsc"
          src="graphics/dropdown.svg"
          alt="dropdown"
        >
      </div>
    </th>
    <th>
      <p>{{ 'schedules.intervals.actions' | translate }}</p>
    </th>
  </tr>
  <tr
    *ngFor="let interval of currentActiveIntervals$ | async"
  >
    <td>
      <p class="badge valve__alias schedule__entry__section">{{resolveValve(interval)}}</p>
    </td>
    <td>
      <div class="interval hv-c">
        <div class="badge">
          <p>{{trimIntervalTime(interval.start)}}</p>
        </div>

        <p>{{calcIntervalDur(interval)}}</p>

        <div class="badge">
          <p>{{trimIntervalTime(interval.end)}}</p>
        </div>
      </div>
    </td>
    <td>
      <div class="hv-c hv-c--spc-sm">
        <app-button
          icon="trash.svg"
          color="warning"
        ></app-button>
        <app-button
          icon="block.svg"
          color="warning"
        ></app-button>
        <app-button
          icon="play.svg"
          color="beige"
        ></app-button>
      </div>
    </td>
  </tr>
  <tr
    class="row-table__row--mark-empty"
  >
    <td colspan="100%">
      <p>{{ 'schedules.intervals.no_items' | translate }}</p>
    </td>
  </tr>
</table>