<app-weekday-select
  (selection)="selectedDay = $event"
></app-weekday-select>

<div class="buttons hv-c">
  <app-button
    (click)="createInterval()"
    color="success"
    text="{{ 'schedules.buttons.create_interval' | translate }}"
    icon="plus.svg"
  ></app-button>

  <app-button
    (click)="toggleDayDisabled()"
    [color]="isCurrentActiveDayDisabled() ? 'warning' : 'beige'"
    text="{{ 'schedules.buttons.disable_day' | translate }}"
    icon="block.svg"
  ></app-button>
</div>

<table class="row-table">
  <tr>
    <th>
      <p>{{ 'schedules.intervals.target' | translate }}</p>
    </th>
    <th
      (click)="timestampSortAsc = !timestampSortAsc"
    >
      <div
        class="hv-c"
      >
        <p>{{ 'schedules.intervals.timestamps' | translate }}</p>
        <img
          class="svg svg--xs"
          [class.svg--flip-x]="timestampSortAsc"
          src="graphics/dropdown.svg"
          alt="dropdown"
        >
      </div>
    </th>
    <th>
      <p>{{ 'schedules.intervals.actions' | translate }}</p>
    </th>
  </tr>
  <tr
    *ngFor="let interval of currentActiveIntervals$ | async"
  >
    <td
      (click)="editTarget(interval)"
    >
      <p class="badge valve__alias schedule__entry__section">{{resolveValveAlias(interval)}}</p>
    </td>
    <td
      (click)="editTimespans(interval)"
    >
      <app-timespan
        [interval]="interval"
      ></app-timespan>
    </td>
    <td>
      <div class="hv-c hv-c--spc-sm">
        <app-button
          (click)="deleteInterval(interval)"
          icon="trash.svg"
          color="warning"
        ></app-button>
        <app-button
          icon="block.svg"
          color="warning"
        ></app-button>
        <app-button
          icon="play.svg"
          color="beige"
        ></app-button>
      </div>
    </td>
  </tr>
  <tr
    class="row-table__row--mark-empty"
  >
    <td colspan="100%">
      <p>{{ 'schedules.intervals.no_items' | translate }}</p>
    </td>
  </tr>
</table>