.hv-c {
  display: flex;
  align-items: center;
  justify-content: center;

  &--spc-sm {
    gap: var(--spc-sm);
  }

  &--spc-md {
    gap: var(--spc-md);
  }

  &--spc-lg {
    gap: var(--spc-lg);
  }
}
