<div class="modal">
  <div class="valve-info">
    <div class="hv-c">
      <p>{{ 'valves.valves.relay_id' | translate }}</p>
      <p class="badge">{{valve ? valve.identifier + 1 : 0}}</p>
    </div>
    <div class="hv-c">
      <p>{{ 'valves.valves.alias' | translate }}</p>
      <p class="badge valve-info__alias">{{valve?.alias}}</p>
    </div>
  </div>

  <div class="time-select hv-c">
    <app-vert-range
      [from]="0"
      [to]="23"
      [disabled]="isTimerActive()"
      [currentValue]="timerParts[0]"
      (selected)="timeSelection[0] = $event"
    ></app-vert-range>

    <p>:</p>

    <app-vert-range
      [from]="0"
      [to]="59"
      [disabled]="isTimerActive()"
      [currentValue]="timerParts[1]"
      (selected)="timeSelection[1] = $event"
    ></app-vert-range>

    <p>:</p>

    <app-vert-range
      [from]="0"
      [to]="59"
      [disabled]="isTimerActive()"
      [currentValue]="timerParts[2]"
      (selected)="timeSelection[2] = $event"
    ></app-vert-range>
  </div>

  <div class="modal__buttons">
    <app-button
      (click)="startTimer()"
      [color]="isTimerActive() ? 'beige' : 'success'"
      text="{{ 'valves.valves.start' | translate }}"
    ></app-button>
    <app-button
      (click)="stopTimer()"
      [color]="isTimerActive() ? 'warning' : 'beige'"
      text="{{ 'valves.valves.stop' | translate }}"
    ></app-button>
  </div>
</div>