<div class="modal">
  <div class="hv-c schedule-info">
    <div class="hv-c schedule-info__entry">
      <p>{{ 'schedules.intervals.target' | translate }}</p>
      <p class="badge">{{resolveValveAlias(interval)}}</p>
    </div>
    <div class="hv-c schedule-info__entry">
      <p>{{ 'schedules.intervals.timestamps' | translate }}</p>
      <app-timespan
        *ngIf="interval"
        [interval]="interval"
      ></app-timespan>
    </div>
  </div>

  <div class="time-select hv-c">
    <app-vert-range [to]="23"></app-vert-range>
    <p>:</p>
    <app-vert-range></app-vert-range>
    <p>:</p>
    <app-vert-range></app-vert-range>
  </div>

  <app-button
    (click)="save()"
    color="success"
    text="{{ 'schedules.intervals.save' | translate }}"
    icon="save.svg"
  ></app-button>
</div>