.tb-alias {
  margin: var(--spc-lg) 0;
  width: 100%;
}

.valve-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .badge {
    margin-left: var(--spc-sm);
  }

  &__alias {
    max-width: calc(var(--fs-p1) * 9);
    word-break: break-all;
  }
}