:host {
  display: flex;
  align-items: center;
  border-radius: var(--br-sm);
  justify-content: space-between;
  background: var(--primary-light);

  .badge {
    align-self: stretch;
  }

  & > p {
    margin: 0 var(--spc-sm);
    text-align: center;
  }
}