<table class="row-table">
  <tr>
    <th
      (click)="valveIdSortAsc = !valveIdSortAsc"
    >
      <div class="hv-c">
        <p>{{ 'valves.valves.relay_id' | translate }}</p>
        <img
          class="svg svg--xs"
          [class.svg--flip-x]="valveIdSortAsc"
          src="graphics/dropdown.svg"
          alt="dropdown"
        >
      </div>
    </th>
    <th>
      <p>{{ 'valves.valves.alias' | translate }}</p>
    </th>
    <th>
      <p>{{ 'valves.valves.actions' | translate }}</p>
    </th>
  </tr>
  <tr
    *ngFor="let valve of valves$ | async"
  >
    <td>
      <p class="badge">{{valve.identifier + 1}}</p>
    </td>
    <td
      (click)="editAlias(valve)"
    >
      <p class="badge valve__alias">{{valve.alias}}</p>
    </td>
    <td>
      <div class="hv-c hv-c--spc-sm">
        <app-button
          icon="block.svg"
          [color]="valve.disabled ? 'warning' : 'beige'"
          (click)="toggleDisable(valve)"
        ></app-button>
        <app-button
          icon="play.svg"
          [color]="valve.state ? 'success' : 'beige'"
          (click)="toggleState(valve)"
        ></app-button>
        <app-button
          icon="stopwatch.svg"
          [color]="valve.timer == '00:00:00' ? 'beige' : 'success'"
          (click)="editTimer(valve)"
        ></app-button>
      </div>
    </td>
  </tr>
  <tr
    class="row-table__row--mark-empty"
  >
    <td colspan="100%">
      <p>{{ 'valves.valves.no_items' | translate }}</p>
    </td>
  </tr>
</table>