:host {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: space-evenly;
  padding-top: var(--spc-xxl);
  row-gap: var(--spc-xl);
}

.browser-entry {
  text-align: center;

  &__icon {
    margin-bottom: var(--spc-sm);
  }

  &__size {
    font-size: var(--fs-p0);
    margin-bottom: var(--spc-sm);
  }

  &__name {
    word-break: break-all;
    font-weight: lighter;
  }
}