:host {
  padding-top: var(--spc-xxl);
  display: flex;
  flex-direction: column;
}

.browser-entry {
  display: flex;

  &__delete {
    display: inline-flex;
    background: var(--warning);
    border-radius: var(--br-sm);
    width: 1.4rem;
    height: 1.4rem;
  }

  &__name, &__size {
    user-select: none;
    word-break: break-all;
  }
}