:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  color: var(--white);
  padding: var(--spc-xs);

  h2 {
    padding: 0 var(--spc-sm);
  }

  &--active {
    h2 {
      background: var(--primary);
      border-radius: var(--br-sm);
    }
  }
}