.badge {
  border-radius: var(--br-sm);
  color: var(--white);
  background: var(--primary);
  padding: var(--spc-xs) var(--spc-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;

  &--selected {
    background: var(--success);
  }
}