@use 'config' as *;

.svg {
  filter: $iconFilterDefault;

  &--xs {
    width: var(--icn-xs);
    height: var(--icn-xs);
  }

  // Small is the default
  width: var(--icn-sm);
  height: var(--icn-sm);

  &--md {
    width: var(--icn-md);
    height: var(--icn-md);
  }

  &--no-filter {
    filter: none;
  }

  &--preserve-ratio {
    height: auto;
  }
}